<!DOCTYPE html><html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/81506881?s=48&amp;v=4">
<link rel="stylesheet/less" type="text/css" href="/my-markdown/css/global.less">
<style>.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    pointer-events: none;
    z-index: 100;
  }</style>
<link rel="stylesheet" href="/my-markdown/umi.e2d8220e.css">
<script src="https://cdn.bootcdn.net/ajax/libs/three.js/0.144.0/three.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.8.1/less.min.js"></script>
</head>
<body>
<div id="root"></div>
<script src="/my-markdown/umi.557d8c76.js"></script>
<script charset="utf-8">(function(){
                  let divs = document.createElement('div');
                  divs.className = 'snow-container';
                  document.querySelector('body')?.appendChild(divs);
                })()</script>
<script src="/my-markdown/js/show.js"></script>

</body></html>